/* This file will be deleted when exclusively using styled components */
.todo-form {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px grey;
    justify-content: center;
}

.todo-input {
    font-size: 16px;
    padding: 8px;
    margin: 8px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 70%;
    outline: none;
}

.create-button {
    font-size: 16px;
    padding: 8px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    width: 20%;
    background-color: #22ee22;
}
